small{
color: grey;
margin-left: 6px;
font-size: 12px;
font-weight: 400;
}

.todo_form {
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0 40px; 
padding: 0 20px; 
}

.header {
text-align: left;
width: 100%;
padding-bottom: 8px;
border-bottom: 1px solid transparent;
}

.task_container {
display: flex;
flex-direction: column;
margin-top: 2rem;
}

.add_task_box {
width: 300px;
border: 1px solid #ccc;
padding: 1rem;
display: flex;
flex-direction: column;
gap: 0.5rem;
align-items: center;
}

.add_task_box input[type="text"],
.add_task_box textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  border-bottom: 1px solid #ccc;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
}

.task input[type="checkbox"] {
  margin-right: 1rem;
}

.task_name {
  margin: 0;
  font-size: 14px;
}

.task_desc {
  color: #666;
  margin: 0;
  font-size: 12px;
}

button {
  background-color: #606163;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
}

button:hover {
  background-color: #dc4c3e;
  color: white;
}

.cancel_btn {
  background-color: #f5f5f5 !important;
  color: #444 !important;
}

.cancel_btn:hover {
  background-color: #e5e5e5 !important;
  color: #444 !important;
}

.task_details {
  flex-grow: 1; 
}

.remove_btn:hover {
  background-color: #dc4035 !important;
}

