.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #606163;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
}

.App-header div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-header a:visited, .App-header a{
  color: white;
  text-decoration: none;
}

.App-header a:hover{
  color: #dc4c3e;
  text-decoration: none;
}

.App-header li{
  list-style-type: none;
  margin: 10px;
}

main{
  flex-grow: 1;
}

footer{
  background-color:#282c34;
  color: white;
}

.ant-badge .ant-badge-multiple-words{
  padding: 0 2px;
}

.ant-badge .ant-badge-count-sm {
  font-size: 9px;
}

.btnIcon{
  font-size: 20px;
  color: white;
}

.anticon svg:hover{
  color: #dc4c3e;
}
